name: Build Android APK
on:
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Actualizado a v4

      - name: Setup Python
        uses: actions/setup-python@v5 # Actualizado a v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install flet pandas

      - name: Build APK
        run: |
          # Comando para generar el paquete de Android
          flet build apk --verbose

      - name: Upload APK
        uses: actions/upload-artifact@v4 # <--- ¡AQUÍ ESTÁ EL ARREGLO! Actualizado a v4
        with:
          name: MotorInventory-APK
          path: build/apk/*.apk
