name: Build Android APK
on:
  push:
    branches: [ main, master ] # Se activa al subir cambios

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install flet pandas

      - name: Build APK
        run: |
          # Comando oficial de Flet para generar el paquete de Android
          flet build apk --verbose

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: MotorInventory-APK
          path: build/apk/*.apk
