name: Build Android APK
on:
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install flet pandas numpy

      - name: Build APK
        run: |
          # Usamos el comando más simple posible. 
          # Flet leerá automáticamente el archivo requirements.txt
          flet build apk --verbose --yes

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: MotorInventory-APK
          path: build/apk/*.apk
